<html>
  <head>
    <title>Graphs for Hastur Cassandra Stats</title>

    <!-- <meta http-equiv="refresh" content="5"> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://people.iola.dk/olau/flot/jquery.flot.js"></script>

    <script type="text/javascript">
    </script>
  </head>
  <body>
    <h1>Graphs for Hastur Cassandra stats </h1>

    <div id="placeholder" style="width:1000px;height:500px"></div>

<script type="text/javascript">
$(function () {
    <% series_names = @graph_values.map { |one_series| one_series[0] } %>

    <% @graph_values.each do |line| %>
      <% var_name = line.shift
         stat_name = line.shift
       %>

      var <%= var_name %>_name = "<%= stat_name %>";
      var <%= var_name %> = [ <%= line.map { |t, v| "[ #{t}, #{v} ]" }.join(", ") %> ];
    <% end %>

    $.plot($("#placeholder"), [
      <% series_names.each do |series| %>
        {
          data: <%= series %>,
          label: <%= series %>_name
        },
      <% end %>
        {
          data: []  // final empty set to make commas work
        }
    ], {
      series: {
        points: { show: true }
      },
      grid: {
        hoverable: true
      },
      xaxis: {
        mode: "time"
      }
    });
});

function showTooltip(x, y, contents) {
    $('<div id="tooltip">' + contents + '</div>').css( {
        position: 'absolute',
        display: 'none',
        top: y + 5,
        left: x + 5,
        border: '1px solid #fdd',
        padding: '2px',
        'background-color': '#fee',
        opacity: 0.80
    }).appendTo("body").fadeIn(200);
}

var previousPoint = null;
$("#placeholder").bind("plothover", function (event, pos, item) {
    $("#x").text(pos.x.toFixed(2));
    $("#y").text(pos.y.toFixed(2));

    if ($("#enableTooltip:checked").length > 0) {
        if (item) {
            if (previousPoint != item.dataIndex) {
                previousPoint = item.dataIndex;

                $("#tooltip").remove();
                var x = new Date(item.datapoint[0]).toUTCString(),
                    y = item.datapoint[1].toFixed(2);

                showTooltip(item.pageX, item.pageY,
                            item.series.label + " of " + x + " = " + y);
            }
        }
        else {
            $("#tooltip").remove();
            previousPoint = null;            
        }
    }
});

</script>

    <p><input id="enableTooltip" type="checkbox" checked="checked">Enable tooltip</p>

</body>
</html>
